#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.hexagon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 150px;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.first, .second, .third {
  display: flex;
  flex-direction: column;
}

.first, .third {
  gap: 160px;
}

.second {
  gap: 400px;
}

.reset-btn {
  margin-top: 50px;
  padding-block: 12px;
  font-size: 18px;
  border: 1px solid;
  border-radius: 12px;
}

.reset-btn:hover {
  border: 1px solid darkcyan;
  background: darkcyan;
  color: white;
}

.Maroon {
  color: maroon;
}

.Darkblue {
  color: darkblue;

}

.hithere {
  animation: hithere 1s ease infinite;
}

@keyframes hithere {
  30% {
    transform: scale(1.2);
  }

  40%, 60% {
    transform: rotate(-20deg) scale(1.2);
  }

  50% {
    transform: rotate(20deg) scale(1.2);
  }

  70% {
    transform: rotate(0deg) scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 768px) {
  .hexagon {
    gap: 90px;
    margin: 0 20px;
  }

  .dot {
    height: 35px;
    width: 35px;
  }
}